
/************** Skin 2 *********************/
.dd2 .ddTitle {
	background:transparent url(../images/msDropDown.gif) no-repeat;
	padding:0 4px;
	text-indent:0;
	cursor:default;
	overflow:hidden;
	height:44px;
}
.dd2 .ddTitle span.arrow {
	background:transparent url(../images/icon-arrow.gif) no-repeat 0 0; 
	float:right; 
	display:inline-block;
	width:25px; 
	height:27px; 
	cursor:pointer; 
	top:9px; 
	position:relative; 
	right:3px;
}
.dd2 .ddTitle span.ddTitleText {
	text-indent:1px; 
	overflow:hidden;
	color: #464646;
	font: normal 20px/44px Arial, Helvetica, sans-serif;	
	position:relative; 
	_top:4px;
	text-transform: capitalize;
	padding: 0 0 0 3px;
}
.dd2 .ddChild {
	position:absolute;
	border:1px solid #c7c7c7;
	border-top: 0px;
	display:none;
	margin:0;
	width:auto;
	overflow:auto;
	overflow-x:hidden !important;
	background:#ffffff;
	color: #464646;
	font: normal 15px/25px Arial, Helvetica, sans-serif;	
}
.dd2 .ddChild .opta a, .dd2 .ddChild .opta a:visited {
	padding-left:10px;
}
.dd2 .ddChild a {
	display:block;
	padding:3px 0 3px 8px;
	text-decoration:none;
	color:#000;
	overflow:hidden;
	white-space:nowrap;
	cursor:pointer;
}
.dd2 .ddChild a:hover {
	background-color:#f8f8f8;
	border-bottom: 1px solid #e8e8e8;
}

.dd2 .ddChild a.selected {
	background-color:#f8f8f8;
	border-bottom: 1px solid #e8e8e8;
}


/************* use sprite *****************/
